body{
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  /*background-color: #1a2632;*/
  height: 100%;
}

.wrapper{
  position: relative;
  width: 1000px;
  //height: 100%;
  margin: auto;
  background-color: #1a2632;
  align-items: center;
}

#SQLres{
  width: 100%;
  text-align: center;
}

h1, h2 {
  margin-top: 0;
  color: #fff;
  text-align: center;
}

@media screen {
html{
  height: 100%;
}
p {
    color: #000000;
    margin: 0;
}

h1 {
  padding-top: 1em;
  font-size: 60px;
}

h2 {
  font-size: 40px;
}

table {
  position: relative;
  //height: 100%;
  //border: 1px solid black;
}
th{
  //background-color: rgb(195, 244, 255);
  font-size: 18px;
  color: #fff;
}
td{
  background-color: rgb(231, 234, 260);
  border-radius: 5px;
  font-size: 16px;
  //color: #fff;
}
.auswahl{
  border-spacing: 70px 0;
  margin-bottom: 20px;
}
.auswahl th{
  color: #000;
  background-color: rgb(33, 124, 181);
}
}

@media print{
  body{
    margin: 0;
    font-family: "Source Sans Pro", sans-serif;
    /*background-color: #1a2632;*/
    height: auto;
  }

  h1{
    padding-top: 1em;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-size: 40px;
  }

  h2 {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-size: 25px;
  }

  .wrapper{
    page-break-after:auto;
    page-break-before:auto;
    position: relative;
    width: 1000px;
    //height: 100%;
    margin: auto;
    background-color: #1a2632;
    align-items: center;
  }
  table {
    /*margin-top: 50px;*/
    position: relative;
    /*page-break-after:auto;*/
    /*page-break-before:auto;*/
    /*page-break-inside:auto;*/
  }
  table, th, td {
    /*page-break-after:auto;*/
    border-collapse: collapse;
    border: 1px solid black;
  }
  th {
    /*page-break-inside: avoid;*/
    font-size: 18px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    background-color: #1a2632;
    color: #fff;
  }
  tr {
    /*page-break-inside:avoid;*/
    /*page-break-after:auto;*/
  }
  td {
    background-color: rgb(231, 234, 260);
    font-size: 16px;
    /*border-radius: 5px;*/

    /*page-break-inside:avoid;*/
    /*page-break-after:auto;*/
  }
  thead {
    display:table-header-group;
  }
  div {
    page-break-inside:avoid;
  }
}
